body {
  font-size: 2rem;
  box-sizing: border-box;
  margin: 1rem;
  background-color: #f9f9f9;
  /* font-family: 'Anonymous Pro', monospace; */
  /* font-family: 'Ultra', monospace; */
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: fit-content;
  margin: 30px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 15px 15px -15px #00000066;
}

h3, h4 {
  margin: 0;
}

h3 {
  color: #00aaff;
  text-shadow: 0 2px 5px rgb(204, 204, 204);
}

input, button {
  padding: 5px;
  font-size: 1rem;
}

input {
  border: 2px solid #00aaff;
}

.btn.start {
  cursor: pointer;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #00aaff;
  color: white;
  padding: 7px 12px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.btn.start:not(:disabled):hover {
  background-color: #0091da;
}

.btn.start:disabled {
  opacity: 0.5;
  transition: opacity 0.2s ease;
  cursor: not-allowed;
}

.thumbs-up {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.thumbs-up.completed {
  opacity: 1;
  transition: opacity 1s ease;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-5 {
  margin-left: 5px;
}

.scrambler {
  text-decoration: none;
  /* box-shadow: inset 0 -3px 0 black;
	padding-bottom: -3px; */
}